BOT_TOKEN=

BOT_ID=
ADMIN_SERVER_ID=
READY_CHANNEL_ID=
SERVERS_CHANNEL_ID=
SERVERS_CONNECTED_CHANNEL_ID=
REPORTS_CHANNEL_ID=
ADMIN_USER_ID=

LAVALINK_HOST=localhost
LAVALINK_PORT=2333
OAUTH_REFRESH_TOKEN=

# Required for spotify features
SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET=
SPOTIFY_DC_COOKIE=
